<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="CompetitionQuestionnaireViewModel" shared="true" type="Skywire\Questionnaire\ViewModel\Questionnaire">
        <arguments>
            <argument name="questionProvider" xsi:type="object">Skywire\Competition\Model\CompetitionQuestionProvider</argument>
        </arguments>
    </virtualType>
</config>
